@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #181818;
    padding: 24px 0;
}

.headContainer{
    max-width: 1200px;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav li{
    margin-left: 32px;
}

header li a {
    font: 15px/20px 'Poppins';
    color: #FFFFFF;
    text-decoration: none;
}

header nav li:first-of-type {
    margin-right: 24px;
}

header li a:first-of-type a{
     font-size: 13px;
}

header nav li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;

}
.sectionFirst{
    height: 100vh;
    background-image: url("../image/firstBlockImg.jpg");
   background-size: cover;
    background-repeat: no-repeat;
    padding-top: 466px;
    box-sizing: border-box;
}
.sectionFirstText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.mainHeader{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.mainHaederArtclSt{
    max-width: 580px;
    margin: auto;
}
.mainHeaderText {
    margin-top: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}

.thirdSectionST{

}